#app {
	height: 100%;
	background-image: url(fond_jeu_nobande.png);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
}
.btn-retour-accueil {
	padding: 0 20px 0 20px;
	height: 70px;
	background-color: #ff73de;
	border-bottom-right-radius: 20px;
}
.accueil-lien {
	text-decoration: none;
	padding-left: 5px;
	font-family: 'Myriad Pro Bold' !important;
	font-size: 20px;
}
.accueil-lien:link, .accueil-lien:visited {
	color: black;
}

/************* TOP BAR *************/

.inscription-stl {
	color: #fdd432;
	text-align: center;
	font-family: 'Komikazoom' !important;
	font-size: 40px;
}

.inscription-sous-stl {
	text-align: center;
	font-family: 'Myriad Pro Semibold Italic' !important;
	color: white;
	font-size: 20px;
}

/*************** FORMULAIRE ***************/
.card-form {
	border-radius: 40px !important;
}

.theme--light.v-label {
	color: white !important;
}

.theme--light.v-input, .theme--light.v-input input, .theme--light.v-input textarea {
    color: white !important;
}

.form-style {
	background-color: #ff73de;
}

/*************** JOUER ! ***************/

.btn-jouer {
	padding: 0 20px 0 20px;
	height: 70px;
	background-color: #b6246f;
	border-radius: 20px;
}
.jouer-lien {
	text-decoration: none;
	color: #111933;
	padding-right: 10px;
	font-size: 35px;
	font-family: 'Komikazoom' !important;
}

.jouer-lien:link, .jouer-lien:visited {
	color: #111933;
}



/******************* FONT ********************/

@font-face {
	font-family: "Komikazoom";
	src: url("./fonts/KAMIKZOM.ttf") format("ttf"),
   }
@font-face {
	font-family: "Barlow";
	src: url("./fonts/Barlow-Regular.otf") format("otf"),
}
@font-face {
	font-family: 'Myriad Pro Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Myriad Pro Regular'), url('./fonts/MYRIADPRO-REGULAR.woff') format('woff');
}
@font-face {
	font-family: 'Myriad Pro Condensed';
	font-style: normal;
	font-weight: normal;
	src: local('Myriad Pro Condensed'), url('./fonts/MYRIADPRO-COND.woff') format('woff');
}
@font-face {
	font-family: 'Myriad Pro Condensed Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Myriad Pro Condensed Italic'), url('./fonts/MYRIADPRO-CONDIT.woff') format('woff');
}
@font-face {
	font-family: 'Myriad Pro Light';
	font-style: normal;
	font-weight: normal;
	src: local('Myriad Pro Light'), url('./fonts/MyriadPro-Light.woff') format('woff');
}
@font-face {
	font-family: 'Myriad Pro Semibold';
	font-style: normal;
	font-weight: normal;
	src: local('Myriad Pro Semibold'), url('./fonts/MYRIADPRO-SEMIBOLD.woff') format('woff');
}
@font-face {
	font-family: 'Myriad Pro Semibold Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Myriad Pro Semibold Italic'), url('./fonts/MYRIADPRO-SEMIBOLDIT.woff') format('woff');
}
@font-face {
	font-family: 'Myriad Pro Bold Condensed';
	font-style: normal;
	font-weight: normal;
	src: local('Myriad Pro Bold Condensed'), url('./fonts/MYRIADPRO-BOLDCOND.woff') format('woff');
}
@font-face {
	font-family: 'Myriad Pro Bold';
	font-style: normal;
	font-weight: normal;
	src: local('Myriad Pro Bold'), url('./fonts/MYRIADPRO-BOLD.woff') format('woff');
}
@font-face {
	font-family: 'Myriad Pro Bold Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Myriad Pro Bold Italic'), url('./fonts/MYRIADPRO-BOLDIT.woff') format('woff');
}
@font-face {
	font-family: 'Myriad Pro Bold Condensed Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Myriad Pro Bold Condensed Italic'), url('./fonts/MYRIADPRO-BOLDCONDIT.woff') format('woff');
}
.font-barlow {
	font-family: 'Barlow' !important;
}
.font-komikazoom {
	font-family: 'Komikazoom' !important;
}