{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    <span class="text-centered montant-argent"><p style="font-size: 17px;">
            Argent : {{ jouer.argent }} €<br>
            Facture : {{ jouer.facture }} € <br>
            Compétences : {{ jouer.competence }}</p></span>

{% endblock %}

